.toy-item {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width:  400px;
  height: 600px;
  margin: 15px;
  border: 1px solid;
  align-items: center;
}

.toy-item img{
  max-width: 350px;
  height: 100%;
  margin-top: 25px;; 
}

.text-container {
  float: left;
  text-align: left;
}

.price {
  color: #50ba98;
  font-size: 1.5rem;

}