.toy-detail-container {
  margin-top: 40px;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.toy-detail-container img{
  width: 200px;
}

.rent-toy-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 100px;
  
}

button {
  margin-top: 25px;;
}

.description {
  text-align: center;
  margin: 25px;
 }