.container {
  height: 800px;
}

.toy-detail-container {
  margin-top: 40px;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.toy-detail-container img{
  width: 200px;
}

.rent-toy-container {
  background-color: rgb(244, 237, 237);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-left: 100px;
  border: 4px #50ba98 solid;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
 
h1 {
  color: #50ba98;
}

.unavailable h2 {
  color: #ff6d28
}

h2 {
  color: #a403a4;
}




button {
  margin-top: 25px;;
}

.description {
  text-align: justify;
  margin: 25px;
 }