.header-buttons {
  justify-self: center;
  align-self: center;

}

.header-buttons button{
  margin: 10px
}

.header-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  grid-template-rows: auto;
  width: 100%;
  height: 160px;
  }

.nav-container {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  align-self: center;

}

.search {
  align-self: center;
  justify-self: center;
}

.search input{
  height: 30px;
  margin-right: 6px;
}

.header-logo {
  align-self: center;
}

img {
  max-width: 100%;
  height: 180px ;
}
