.footer-container {
  justify-content: space-around;
  display: flex;
  width: 99%;
  height: 100px;
  border: 1px solid;
  background-color: #50ba98;
  margin-left: 6px;
}

.footer-container a{
  align-self: center;
  color: white;
}